.speakerCardWrapper{
    padding: 100px; 
}

.speakerCard{
    padding: 60px;
}

.speakerCard > *{
    margin-bottom: 30px;
}

.img-thumbnail{
    border: none;
    border-radius: 16px;
}
.btn{
    width: 100px;
}
.jumbotron{
    margin: 80px
}
.ttop{
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://wallpaper.dog/large/20415212.jpg);
}
.mmid{
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://wallpaperaccess.com/full/3495412.jpg);
}
.right{
    background-image: url(https://images3.alphacoders.com/190/thumb-1920-190787.jpg);
    margin-right: 2rem;
}